 /* ESTILOS GENERALES EN EL CUERPO */
 body {
  font-family: "Atkinson Hyperlegible Mono", serif; /*GOOGLE FONTS*/
  margin: 0;
  padding: 0;
  background-color: #5d6d7e  ;
  color: #000;
  line-height: 1.6;

 }

/* CONTENEDOR */
 .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
 }

 /* ENCABEZADO */
 header {
  background-color: #0a192f;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction:column; /* Cambia la direccion a vertical*/
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  width: 100%; /* Ocupa todo el ancho */
  position:relative; /*Permite controlar el posicionamiento de los elementos internos*/


 }



/*TITULO DE MI EMPRESA EN LA PARTE SUPERIOR DE LA PAGINA*/
 .destacado {
  font-weight:bold;
  color:red;
  font-size: 2em;
  position:relative;
  z-index:2; /* Se coloca sobre el logo*/
  margin-top: 80px; /* Baja el texto para que no se pegue con el logo*/


 }

 /* ESTILOS PARA EL CONTENEDOR DEL LOGO */
 .logo-container {
   width: 80px; /* Ajusta el tamaño del círculo */
   height: 80px; /* Ajusta el tamaño del círculo */
   border-radius: 50%; /* Hace que el contenedor sea un círculo */
   overflow: hidden; /* Recorta cualquier parte de la imagen que sobresalga */
   position:absolute;
   top:10px;
   left:50%;
   transform: translateX(-50%); /* Centra horizontalmente */
   z-index: 1; /* Se coloca detras del texto*/

 }
 /* Estilos para la imagen del logo */
 .logo-container img {
   width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
   height: auto; /* Mantiene la proporción */
   display: block;
 }


/* SOMBREADO DE TEXTO DE COLOR ROJO*/
.sombra-texto {
        text-shadow: 2px 2px 5px  #7b241c;
        text-align: center;
    }



/* SECCION DE LAS IMAGENES CIRCULARES */
 .imagenes-negocio {
  text-align: center;
  padding: 20px;
 }

 .contenedor-imagenes-circulares {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap; /* Para que se adapte en una misma fila o misma columna*/
 }

 .imagen-circular {
   width: 150px; /* Tamaño inicial */
   height: 150px;
   border-radius: 45%;
   overflow: hidden;
   margin: 10px;
   transition: all 0.3s ease; /* Transición suave */
 }

 .imagen-circular img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: all 0.3s ease; /* Transición suave para la imagen */
 }

 .imagen-circular:hover {
   width: 300px; /* Ancho al pasar el mouse */
   height: 300px; /* Alto al pasar el mouse (cuadrado) */
   border-radius: 0%; /* Quita la forma circular al hacer hover */
 }




 /* ESTILOS DE LOS PARRAFOS */
 .contenedor-externo{
  display: grid; /*ACTIVAR EL GRID LAYOUT*/
  grid-template-columns: repeat(1, 1fr); /*CREA TRES COLUMNAS DE IGUAL TAMAÑO*/
  gap: 20px; /*AÑADE UN ESPACIO ENTRE LAS SECCIONES*/
  justify-items: center;
  align-items: center;
  padding: 25px; /* AÑADE UN ESPACIO ALREDEDOR DEL TEXTO*/
  border: 1px solid #ccc; /*AÑADE UN BORDE DE VISUALIZACION*/
  box-sizing: border-box; /*INCLUYE EL PADDING Y EL BORDE EN EL ANCHO*/
  text-align: center;

 }




 /* ENLACES GENERALES O URL*/
 .enlaces {
  padding: 20px;
  text-align: center;
 }


/*ETIQUETA SOBRE LA MODIFICACION DEL BOTON DE CONTACTOS*/
 .enlaces a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0a192f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
 }

/* ESTADO ACTIVO DE LOS ENLACES A CONTACTOS*/
.link:active {
  color: green; /* Color cuando se hace clic en el enlace */
}



 /*FORMULARIO*/
 .formulario {
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 5px #7b241c;
 }

 .formulario label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
 }



/*CAMPOS DE NOMBRE E EMAIL*/
 .formulario input[type="text"],
 .formulario input[type="email"],
 .formulario textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-shadow: 2px 2px 5px black;
 }


/* BOTON DE ENVIAR DEL FORMULARIO*/
 .formulario input[type="submit"] {
  background-color: #0a192f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

 }


 /* EL PIE DE PAGINA O PARA BAJA DE LA PAGINA */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    margin-bottom: 10px;
}

.technology {
    color: red;
}

.contact-info,
.working-hours {
    margin-top: 20px;
    text-align: left;
}

.contact-info h3,
.working-hours h3 {
    color: red;
    margin-bottom: 10px;

}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .contact-info,
    .working-hours {
        text-align: left;
    }
}

